#listContainer {
    background-color: aliceblue;
    border: 3px solid lightgrey;
    min-height: 10vh;
    max-width: 60vh;
    margin: 0 auto;
}

.listItem {
  word-wrap: break-word;
}

.textOverflow {
  max-width: 300px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
